{% extends "back/base.html.twig" %}

{% block body %}
    <div class="container">
        <h1>Create new User</h1>
        <div class="form-container">
            {{ include('back/user/_form.html.twig') }}
        </div>
    </div>
{% endblock %}
