<!DOCTYPE html>

<title>New Age</title>

{% block body %}
    <h1>Create new Age</h1>

    {{ include('back/age/_form.html.twig') }}

    <a href="{{ path('back_age_index') }}">back to list</a>
{% endblock %}
