{% extends "back/base.html.twig" %}

{% block body %}
    <div class="container">
        <h1 class="text-xl mb-2 flex justify-center p-12 capitalize font-semibold tracking-wide">Edit Event</h1>
        <div class="form-container">
            {{ include('back/event/_form.html.twig', {'button_label': 'Update'}) }}
        </div>
    </div>
{% endblock %}
