{% extends "back/base.html.twig" %}

{% block body %}
    <div class="container">
        <h1>Create new Event</h1>
        <div class="form-container">
            {{ include('back/event/_form.html.twig') }}
            </div>
        </div>
{% endblock %}
