{% extends "back/base.html.twig" %}

{% block body %}
    <div class="container">
        <h1 class= "text-xl mb-2 flex justify-center p-12 capitalize font-semibold tracking-wide">Create new Genre</h1>
        <div class="form-container">
            {{ include('back/genre/_form.html.twig') }}
        </div>
    </div>
    
{% endblock %}
