{% extends "back/base.html.twig" %}

{% block nav %}{% endblock %}

{%block body %}
     
<!-- <img class="" src="https://cdn.pixabay.com/photo/2016/05/28/00/06/gift-1420830_960_720.jpg"> -->
<!--<div class=" bg-local w-full max-h-screen " style="background-image: url(/images/cadeau.jpg)"></div>-->
<div class="w-full h-screen bg-center bg-no-repeat bg-cover" style="background-image: url('https://cdn.pixabay.com/photo/2016/05/28/00/06/gift-1420830_960_720.jpg')">
<div class= "text-7xl text-white ">Bienvenue</div>
</div>

{% endblock %}

