{% extends "back/base.html.twig" %}

{% block nav %}{% endblock %}

{%block body %}
     
<!-- <img class="" src="https://cdn.pixabay.com/photo/2016/05/28/00/06/gift-1420830_960_720.jpg"> -->
<!--<div class=" bg-local w-full max-h-screen " style="background-image: url(/images/cadeau.jpg)"></div>-->
<div class="w-full h-screen bg-center bg-no-repeat bg-cover" style="background-image: url('https://cdn.pixabay.com/photo/2016/05/28/00/06/gift-1420830_960_720.jpg')">
<!-- <div class= "text-7xl text-white ">Bienvenue</div> -->
<blockquote class="mx-4 text-4xl font-semibold italic text-slate-100">
 Bienvenue sur l'interface du back office d'
  <span class="mt-5 before:block before:absolute before:-inset-1 before:-skew-y-3 before:bg-yellow-500 relative inline-block">
    <span class="relative text-white">O'KDO</span>
  </span>

</blockquote>
</div>

{% endblock %}

